@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body, input, textarea, select, h2, h3, button, input, optgroup, select, textarea {
    font-family: 'Poppins', sans-serif !important;
}
.open-button img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin: 0px auto;
	
    }
.cp-enter-amout textarea {
	width: 100%;
}
    .open-button {
		z-index:99999;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        left: 25px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        opacity: 1;
        padding: 0px !important;
    }
    button.open-button {
        width: auto !important;
        background-color: transparent;
    }
    button.open-button img {
        background-color: #000;
        padding: 15px;
        border-radius: 50%;
        width: 70px;
        height: 50px;
        box-sizing: border-box;
    }
    .cp-chat-img {
        background: #000 !important;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .cp-chat-img img {
    background: transparent !important;
    padding: 0px !important;
    border-radius: 0px !important;
    width: 40px !important;
    height: 35px !important;
    margin-top: 20px !important;
}
    .cancel img {
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
/*    .form-container p:not(.cp_error_p_amt) {
        margin-top: 0px;
        background-color: #000;
        margin-bottom: 0px;
        color: #fff;
        padding: 20px 20px 20px;
        border-radius: 5px 5px 0px 0px;
        font-size: 20px;
    }*/
    .form-container .test-f {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    padding: 20px 20px 20px;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    button.btn.cancel {
        position: absolute;
        bottom: -68px;
        right: 12px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: none;
        background-color: black;
    }
    p.cp-chat-img {
        margin-bottom: 0px;
        line-height: 0px;
    }
    .cp-chat-img {
        line-height: 0px;
    }
    .chat-popup {
        display: none;
        position: fixed;
        bottom: 89px;
        left: 15px;
        z-index: 99999;
        border-radius: 5px;
        width: 398px;
    }
    .tawk-body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 8%);
    height: auto;
    border: 1px solid #e3dfdf;
}
    .example.example4 form {
        padding: 0px !important;
    }
    .cp-tab .tawk-product {
    padding-bottom: 210px;
}
.cp-demo .tawk-product {
    padding-bottom: 186px !important;
}
.live-btn .live-che, .cp-make-pay, .sttripe-pmnt-div a.back_to_form {
    background-color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: #00C4F0;
    width: auto;
    border-radius: 26px;
    text-decoration: none !important;
}

.sttripe-pmnt-div a.back_to_form {
    display: inline-block;
}

    .tawk-product .woocommerce ul.products li.product a.woocommerce-loop-product__link {
        display: flex !important;
    }
    .tawk-product .woocommerce img, .woocommerce-page img {
        height: auto !important;
        max-width: 110px !important;
    }
    .tawk-product .woocommerce ul.products li.product {
    width: 100% !important;
}
.tawk-product label, .cp-enter-amout label {
    margin-bottom: 16px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
select.cp_product_options {
    margin-bottom: 0px;
    border: 0;
    border-radius: 4px;
    padding: 16px;
    color: #8C8C8C;
    font-size: 16px;
}
p.cp-chat-img:focus {
    position: absolute;
    left: 15px;
    top: 15px;
}
select.cp_product_options {
    width: 100%;
}
p.cp_error_p, .cp_error_p_amt {
    background-color: transparent;
    color: red;
    padding: 0px;
    font-size: 16px;
    margin-bottom: 10px;
}
.tawk-product p {
    display: none;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0px 0px 20px 0px !important;
}
.tawk-product h2.woocommerce-loop-product__title {
    text-align: left;
    font-size: 16px !important;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 0px;
}
.tawk-product span.price {
    position: absolute;
    top: 25px;
    left: 129px;
}
.tawk-product .woocommerce ul.products li.product a.add_to_cart_button {
    position: absolute;
    bottom: 12px;
    left: 130px;
    background-color: #000;
    padding: 5px 15px;
    font-size: 14px;
}
ul.products {
    margin-bottom: 0px;
}

.cp_amout {
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}
.cp-live-btn button.cp-make-pay {
    width: 100%;
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 12px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
.cp-enter-amout input {
    width: 100%;
}
.cp-enter-amout input::placeholder {
    color: #000;
}
.error.visible {
    position: absolute;
    top: 36%;
}
.error {
    position: absolute;
    top: 140px;
}
.success {
    display: none;
    text-align: center;
}
.example.example4 .success .message {
    margin-bottom: 10px !important;
}

/*---------------*/
.cp-enter-amout input {
   padding: 16px 16px 16px 28px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    font-size: 16px;
}
.cp-enter-amout.cp_amout {
	position: relative;
}
.currency-div::before {
	content: '$';
	position: absolute;
	font-size: 20px;
	top: 44%;
	left: 12px;
    color: #fff;
}
.cp-enter-amout input::placeholder {
    color: #8C8C8C;
}
.cp-enter-amout textarea {
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    height: 156px;
    color: #8C8C8C;
    padding: 16px;
    font-size: 16px;
}
.live-btn {
    padding: 20px 0px;
}
.tabs-container .tabs .tab, .tabs-container .tabs input[type=radio] {
  display: none;
}
.tabs-container .tabs input[type=radio] + label {
    display: inline-block;
    margin: 0;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    opacity: 1;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}

.tabs-container .tabs input[type=radio]:checked + label {
  border-bottom: 2px solid #000;
  opacity: 1;
}

.tabs-container .tabs .tab {
    margin: 0;
    padding: 25px 0 0px 0px;
}


.tabs input:first-of-type:checked + label ~ .tab:first-of-type,
.tabs input:nth-of-type(2):checked + label ~ .tab:nth-of-type(2),
.tabs input:nth-of-type(3):checked + label ~ .tab:nth-of-type(3) {
  display: block;
}

.tabs-container .tabs .tab ul {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  grid-auto-flow: row;
  justify-content: center;
  list-style: none;
}

.tabs-container .tabs .tab ul li {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #000000;
  border-radius: 4px;
  aspect-ratio: 3 / 2;
}

.tabs-container .tabs .tab p {
  margin: 0px;
}
.cell {
    margin-top: 0px !important;
    padding-top: 0px !important;
    display: none;
    padding: 0px 0px;
    position: relative;
}
.powered_by_stripe img {
    max-width: 100px;
}
.powered_by_stripe {
    text-align: right;
    padding-right: 10px;
}
.intro{
    display: none;
}
.cp-intro {
    display: block;
}
.example.example4 fieldset {
    margin-bottom: 255px;
}
/*.form-container {
    background-color: #fff !important;
}*/
.error:not(.visible) {
    display: none;
}

.product-description-sec p {
    color: #8C8C8C !important;
    font-size: 15px !important;
    background: transparent !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 70px;
    padding: 0px 10px !important;
}
.product-description-sec {
    margin-top: 20px;
}
.product-price-sec {
    margin-top: 15px;
}
.product-description-sec p {
    margin-top: 10px !important;
}
.product-price-sec span {
    padding-top: 10px !important;
}
.product-price-sec span:not(.woocommerce-Price-currencySymbol) {
    display: block !important;
    font-size: 15px !important;
    color: #fff;
    padding: 0px 10px !important;
}
.tawk-product-description {
    display: none;
}

@media (max-width: 1200px){
    .test-f {
        margin-bottom: -2px;
    }
}


@media (max-width: 991px){
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
	    width: 100% !important;
	}
	/*.tawk-form {
    overflow-y: scroll;
    height: 600px;
}*/
}	
@media (max-width: 767px){
	.tawk-product .woocommerce img, .woocommerce-page img {
	    max-width: 100px !important;
	}
	.tawk-product h2.woocommerce-loop-product__title {
	    font-size: 14px !important;
	    padding-left: 30px;
	}
	.tawk-product .woocommerce ul.products li.product a.add_to_cart_button {
	    bottom: 3px;
	    font-size: 12px;
	}
	button.btn.cancel, .open-button {
	    width: 50px;
	    height: 50px;
	}
	.cancel img, .open-button img {
	    width: 20px;
	    height: 20px;
	}
.open-button {
    bottom: 8px;
}
/*.form-container {
    height: 538px;
}*/
button.open-button {
    z-index: 999;
}
}
@media (max-width: 425px){
    .cp-enter-amout textarea {
        height: 115px;
    }
    .cp-tab .tawk-product {
        padding-bottom: 169px;
    }
    .cp-demo .tawk-product {
        padding-bottom: 145px !important;
    }
    .example.example4 fieldset {
    margin-bottom: 215px;
}

}

@media (max-width: 375px){
}
@media (max-width: 325px){
    .cp-intro {
        width: 285px;
    }
}



/*NEW CSS IS HERE*/
.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.powered-by {
    display: flex;
    align-items: center;
}
.powered-by {
    display: flex;
    align-items: center;
}
.powered-by > span {
    font-size: 12px !important;
    padding-right: 5px;
    color: #fff !important;
    opacity: .5;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
}
.sttripe-pmnt-div a.back_to_form, .sttripe-pmnt-div > form > fieldset {
    margin-left: 25px !important;
    margin-right: 25px !important;
}
.paymnt_popupp form {
    margin-bottom: 0;
    margin-block-end: 0em;
}
.paymnt_popupp {
    width: 100% !important;
    height: 100%;
    top: 0;
    left: 0 !important;
    bottom: auto !important;
    background-color: rgb(0 0 0 / 50%);
    backdrop-filter: blur(4px);
}
.paymnt_popupp > .form-container {
    max-width: 550px;
    width: calc(100% - 20px);
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(40px);
}
.paymnt_popupp > .form-container {
    background: rgba(255, 255, 255, 0.5) 0% 0% no-repeat padding-box;
    border-radius: 26px;
}
.paymnt_popupp_btnn {
    z-index: 9999999 !important;
}
.paymnt_popupp .form-container p:not(.cp_error_p_amt) {
    background: none;
}
.paymnt_popupp .tawk-body {
    background: no-repeat;
    border: none;
    border-top: 1px dashed #fff;
    padding-top: 32px;
}
.head-pop-title, .paymentt-title {
    font-size: 28px !important;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
}
.cardd .card-body {
    padding: 20px;
    background: #ffffff36 0% 0% no-repeat padding-box;
    color: #fff;
    font-size: 16px;
}
.paymnt_popupp select.cp_product_options {
    background: rgba(255, 255, 255, 0.32) 0% 0% no-repeat padding-box;
    margin-top: 10px;
    color: #fff;
}
.paymnt_popupp select.cp_product_options option {
    color: #000;
}
.tabs-container .tabs .tab > .tawk-product, .tab-field-inner {
    padding: 0 25px;
}
.tabs-container .tabs .tab .live-btn, .pay-btnnn {
    border-top: 1px dashed #fff;
    margin-top: 32px;
    padding: 32px 25px 32px;
}
.paymnt_popupp select, .form-control {
    outline: none !important;
    box-shadow: none !important;
}
.tabs-container .tabs > input[type=radio] ~ label {
    padding: 12px 20px;
    background: #FFFFFF52 0% 0% no-repeat padding-box;
    border-radius: 26px;
    border: 0 !important;
    line-height: 20px;
    margin-left: 25px;
     color: #fff !important;
}
.tabs-container .tabs > input:checked + label {
    color: #000 !important;
    background: #fff;
}
.tabs-container .tabs > input#tab-2 ~ label {
    margin-left: 7px;
}
.product-description-sec > p {
    border: 1px dashed #fff;
    border-radius: 4px !important;
}
.product-price-sec > span.price-spann {
    border: 1px dashed #fff;
    min-height: 44px;
    line-height: 44px;
    border-radius: 4px;
}
.tab .form-control {
    background: #FFFFFF52 0% 0% no-repeat padding-box;
    border: 0 !important;
    color: #fff !important;
}
.tab .form-control::placeholder {
    color: #fff !important;
}
.example.example4 form {
    max-width: none !important;
}
.example.example4 fieldset {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.stripe-main-div {
    background: #FFFFFF52 0% 0% no-repeat padding-box !important;
    padding: 15px !important;
    margin-top: 20px !important;
    margin-bottom: 32px !important;
}
p.head-pop-title {
    margin: 0;
}
@media (max-width: 767.98px) {
button.open-button img {
    width: 50px;
    padding: 12px;
}
.cp-chat-img {
    width: 50px;
    height: 50px;
}
.cp-chat-img img {
    width: 30px !important;
    margin-top: 15px !important;
}
}





/*SWICTH TOGGLE CSS IS HERE*/
.collapsed + svg path.vector-211 {
    opacity: 1 !important;
}
svg path.vector-211 {
    opacity: 0 !important;
}
.card-header_inner > button {
    border: 0;
    width: 100%;
    padding: 16px 45px 16px 15px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    background: #FFFFFF52 0% 0% no-repeat padding-box;
    border-radius: 6px 6px 0 0;
    color: #fff;
    cursor: pointer;
}
.card-header_inner > button {
    border-radius: 6px 6px 0 0;
}
.card-header_inner > button.collapsed {
    border-radius: 6px;
}

.card-header_inner {
    position: relative;

}
.cardd {
    margin-bottom: 20px;   
}
.card-header_inner > svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.payment-secc .collapse {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: height .3s ease;
}
.payment-secc .collapse.show {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: height .3s ease;
}
.payment-secc {
    padding-top: 32px;
    margin-top: 32px;
    border-top: 1px dashed #fff;
}
.pay-optionns, h2.paymentt-title {
    padding: 0 25px;
    margin-top: 0;
}
.tawk-product .pay-optionns, .tawk-product h2.paymentt-title {
    padding: 0;
}
.custom-switchh {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  min-width: 60px;
}
p.subtitle-descp {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
}
.custom-switchh input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-switchh .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100px;
}

.custom-switchh .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100px;
}

.custom-switchh input:checked + .slider {
  background-color: #2196F3;
}

.custom-switchh input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.custom-switchh input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.custom-switchh .slider.round {
  border-radius: 34px;
}

.custom-switchh .
slider.round:before {
  border-radius: 50%;
}
.tawk-product-description .payment-secc {
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
    padding-right: 25px;
}